extends layout
block content
	title #{title}
	form(action='', method='POST', enctype='multipart/form-data')
		.form-group
			input.form-control(type='text', name='title' placeholder='Category title')
		.form-group
			input.form-control(type='text', name='cat1' placeholder='Category 1')
		.form-group
			input.form-control(type='text', name='cat2' placeholder='Category 2')
		.form-group
			input.form-control(type='text', name='cat3' placeholder='Category 3')
		.form-group
			input.form-control(type='text', name='cat4' placeholder='Category 4')
		.form-group
			input.form-control(type='text', name='cat5' placeholder='Category 5')
		.form-group
			input.form-control(type='text', name='cat6' placeholder='Category 6')
		.form-group
			input.form-control(type='text', name='cat7' placeholder='Category 7')
		.form-group
			input.form-control(type='text', name='cat8' placeholder='Category 8')
		.form-group
			input.form-control(type='text', name='cat9' placeholder='Category 9')
		.form-group
			input.form-control(type='text', name='cat10' placeholder='Category 10')
		.form-group
			input.form-control(type='text', name='cat11' placeholder='Category 11')
		.form-group
			input.form-control(type='text', name='cat12' placeholder='Category 12')
		.form-group
			input.btn.btn-primary(type='submit', name='submit', value='Submit')