extends layout

block content
  div.row.home-rows
    div.col-sm-3.hvr(style='height:300px;padding-right:0px;padding-left:0px;border:1px solid #eee;')
      ul.sidebar.sidebar-header.sidebar-header-women
        li.list-header.women
          a Women
      ul.sidebar
        li
          a(href="#") Women's Dresses
        li
          a(href="#") Women's Tops
        li
          a(href="") Women's Skirts
        li
          a(href="") Women's Trousers
        li
          a(href="#") Lingerie and Sleepwear
        li
          a(href="#") Jumpsuits and Sleepwear
        li
          a(href="#") Islamic Wear
        li
          a(href="#") Traditional Clothing & Accessories
      ul.sidebar.sidebar-footer
        li.list-header.women
          a View all
    div.col-sm-9(style='padding-right:0px;padding-left:0px;')
      .col-sm-4.img-holder(style='border:1px solid #eee;height:300px;padding-right:0px;padding-left:0px;')
        a(href='#')
          img(src="images/yakata_A_womenFashionB.png", alt="yakata_A_womenFashionB", style='width:100%;height:100%;margin:0px;')
      .col-sm-8(style='border:1px solid #eee;padding-right:0px;padding-left:0px;')
        .row
          .col-sm-3.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/womensfashion_C_accessories.png", alt="womensfashion_C_accessories", style='width:100%;height:100%;')
          .col-sm-6.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/womensfashion_B_womens-wears.png", alt="womensfashion_B_womens-wears",style='width:100%;height:100%;')
          .col-sm-3.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/womenfashion_04.png", alt="womenfashion_04",style='width:100%;height:100%;')
        .row
          .col-sm-3.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/womensfashion_C_virtue.png", alt="womensfashion_C_virtue",style='width:100%;height:100%;')
          .col-sm-6.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/womensfashion_B_womens-shoes.png", alt="womensfashion_B_womens-shoes", style='width:100%;height:100%;')
          .col-sm-3.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/womenfashion_07.png", alt="womenfashion_07", style='width:100%;height:100%;')
  .row.home-rows
    .col-sm-3.hvr(style='height:300px;padding-right:0px;padding-left:0px;border:1px solid #eee;')
      ul.sidebar.sidebar-header.sidebar-header-men
        li.list-header.men
          a Men
      ul.sidebar
        li
          a(href="#") Jerseys
        li
          a(href="#") Men's Jeans
        li
          a(href="") Men's Trousers and Shorts
        li
          a(href="") Suits, Blazers & Jackets
        li
          a(href="#") Men's Nightwear
        li
          a(href="#") Polo Shirts
        li
          a(href="#") Men's T-Shirts
      ul.sidebar.sidebar-footer
        li.list-header.men
          a View all
    .col-sm-9(style='padding-right:0px;padding-left:0px;')
      .col-sm-4.img-holder(style='border:1px solid #eee;height:300px;padding-right:0px;padding-left:0px;')
        a(href='#')
          img(src="images/yakata_A_menFashionB.png", alt="yakata_A_menFashionB", style='width:100%;height:100%;margin:0px;')
      .col-sm-8(style='border:1px solid #eee;padding-right:0px;padding-left:0px;')
        .row
          .col-sm-3.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/mensfashion_07.png", alt="mensfashion_07", style='width:100%;height:100%;')
          .col-sm-6.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/mensfashion_B_mens-wears.png", alt="mensfashion_B_mens-wears",style='width:100%;height:100%;')
          .col-sm-3.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/mensfashion_C_accessories.png", alt="mensfashion_C_accessories",style='width:100%;height:100%;')
        .row
          .col-sm-3.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/mensfashion_C_Twiceasnice_05.png", alt="mensfashion_C_Twiceasnice_05",style='width:100%;height:100%;')
          .col-sm-6.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/mensfashion_B_shoes2.png", alt="mensfashion_B_shoes2", style='width:100%;height:100%;')
          .col-sm-3.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/mensfashion_07.png", alt="mensfashion_07", style='width:100%;height:100%;')
  .row.home-rows
    .col-sm-3.hvr(style='height:300px;padding-right:0px;padding-left:0px;border:1px solid #eee;')
      ul.sidebar.sidebar-header.sidebar-header-phones
        li.list-header.phones
          a Phones
      ul.sidebar
        li
          a(href="#") Desk, Radio & Intercom
        li
          a(href="#") Phones
        li
          a(href="") Mobile Phone Accessories
        li
          a(href="") Mobile Phones
        li
          a(href="#") Tablets
        li
          a(href="#") Tablet Accessories
      ul.sidebar.sidebar-footer.sidebar-footer-phones
        li.list-header.phones
          a View all
    div.col-sm-9(style='padding-right:0px;padding-left:0px;')
      .col-sm-4.img-holder(style='border:1px solid #eee;height:300px;padding-right:0px;padding-left:0px;')
        a(href='#')
          img(src="images/yakata_A_Phones.png", alt="yakata_A_Phones", style='width:100%;height:100%;margin:0px;')
      .col-sm-8(style='border:1px solid #eee;padding-right:0px;padding-left:0px;')
        .row
          .col-sm-3.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/phones_C_power-banks.png", alt="mensfashion_07", style='width:100%;height:100%;')
          .col-sm-6.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/phones_B_phones-discount.png", alt="mensfashion_B_mens-wears",style='width:100%;height:100%;')
          .col-sm-3.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/phones_C_tablets.png", alt="mensfashion_C_accessories",style='width:100%;height:100%;')
        .row
          .col-sm-3.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/phones_C_nokia.png", alt="phones_C_nokia",style='width:100%;height:100%;')
          .col-sm-6.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/phones_06_partner2.png", alt="phones_06_partner2", style='width:100%;height:100%;')
          .col-sm-3.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/phones_C_imose.png", alt="phones_C_imose", style='width:100%;height:100%;')
  div.row.home-rows
    div.col-sm-3.hvr(style='height:300px;padding-right:0px;padding-left:0px;border:1px solid #eee;')
      ul.sidebar.sidebar-header.sidebar-header-computers
        li.list-header.computers
          a Computers
      ul.sidebar
        li
          a(href="#") Computing Accessories
        li
          a(href="#") Desktop and Monitors
        li
          a(href="") Laptops
        li
          a(href="") Wifi & Networking
        li
          a(href="#") Printers, Scanners and Accessories
        li
          a(href="#") Projectors & Accessories
        li
          a(href='#') Computer Software
      ul.sidebar.sidebar-footer.sidebar-footer-computers
        li.list-header.computers
          a View all
    div.col-sm-9(style='padding-right:0px;padding-left:0px;')
      .col-sm-4.img-holder(style='border:1px solid #eee;height:300px;padding-right:0px;padding-left:0px;')
        a(href='#')
          img(src="images/yakata_A_laptops.png", alt="yakata_A_laptops", style='width:100%;height:100%;margin:0px;')
      .col-sm-8(style='border:1px solid #eee;padding-right:0px;padding-left:0px;')
        .row
          .col-sm-3.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/laptops_C_storage-devices.png", alt="laptops_C_storage-devices", style='width:100%;height:100%;')
          .col-sm-6.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/laptops_B_laptops.png", alt="laptops_B_laptops",style='width:100%;height:100%;')
          .col-sm-3.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/laptops_C_accessories.png", alt="laptops_C_accessories",style='width:100%;height:100%;')
        .row
          .col-sm-3.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/laptops_C_desktops.png", alt="laptops_C_desktops",style='width:100%;height:100%;')
          .col-sm-6.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/laptops_C_Printers2_06.png", alt="laptops_C_Printers2_06", style='width:100%;height:100%;')
          .col-sm-3.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/laptops_C_hpNotebooks.png", alt="laptops_C_hpNotebooks", style='width:100%;height:100%;')
  div.row.home-rows
    div.col-sm-3.hvr(style='height:300px;padding-right:0px;padding-left:0px;border:1px solid #eee;')
      ul.sidebar.sidebar-header.sidebar-header-electronics
        li.list-header.electronics
          a Electronics
      ul.sidebar
        li
          a(href="#") Games and Consoles
        li
          a(href="#") Electronic Accessories
        li
          a(href="") Home Theatres and Audio
        li
          a(href="") Systems
        li
          a(href="#") Cameras & Photo
        li
          a(href="#") DVD Players & Recorders
        li
          a(href='#') Televisions
        li
          a(href='#') Electronic Bundles
        li
          a(href='#') Surveillance & Security
      ul.sidebar.sidebar-footer.sidebar-footer-electronics
        li.list-header.electronics
          a View all
    div.col-sm-9(style='padding-right:0px;padding-left:0px;')
      .col-sm-4.img-holder(style='border:1px solid #eee;height:300px;padding-right:0px;padding-left:0px;')
        a(href='#')
          img(src="images/yakata_A_electronics.png", alt="yakata_A_electronics", style='width:100%;height:100%;margin:0px;')
      .col-sm-8(style='border:1px solid #eee;padding-right:0px;padding-left:0px;')
        .row
          .col-sm-3.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/electronics_C-sound-system.png", alt="electronics_C-sound-system", style='width:100%;height:100%;')
          .col-sm-6.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/electronics_B-televisions.png", alt="electronics_B-televisions",style='width:100%;height:100%;')
          .col-sm-3.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/electronics_C_dvd-players.png", alt="electronics_C_dvd-players",style='width:100%;height:100%;')
        .row
          .col-sm-3.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/electronics_C_combos.png", alt="electronics_C_combos",style='width:100%;height:100%;')
          .col-sm-6.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/electronics_B_games_06.png", alt="electronics_B_games_06", style='width:100%;height:100%;')
          .col-sm-3.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/electronics_C_cameras.png", alt="electronics_C_cameras", style='width:100%;height:100%;')
  div.row.home-rows
    div.col-sm-3.hvr(style='height:300px;padding-right:0px;padding-left:0px;border:1px solid #eee;')
      ul.sidebar.sidebar-header.sidebar-header-home
        li.list-header.home
          a Home
      ul.sidebar
        li
          a(href="#") Arts, Crafts & Sewing
        li
          a(href="#") Housekeeping & Pet Supplies
        li
          a(href="") Home Furnishings
        li
          a(href="") Kitchen and Dinning
        li
          a(href="#") Home & Kitchen Bundles
        li
          a(href="#") Large Appliances
        li
          a(href='#') Small Appliances
        li
          a(href='#') Furniture
      ul.sidebar.sidebar-footer.sidebar-footer-home
        li.list-header.home
          a View all
    div.col-sm-9(style='padding-right:0px;padding-left:0px;')
      .col-sm-4.img-holder(style='border:1px solid #eee;height:300px;padding-right:0px;padding-left:0px;')
        a(href='#')
          img(src="images/yakata_A_home.png", alt="yakata_A_home", style='width:100%;height:100%;margin:0px;')
      .col-sm-8(style='border:1px solid #eee;padding-right:0px;padding-left:0px;')
        .row
          .col-sm-3.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/h-k_01.png", alt="h-k_01", style='width:100%;height:100%;')
          .col-sm-6.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/h-k_B_washers.png", alt="h-k_B_washers",style='width:100%;height:100%;')
          .col-sm-3.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/h-k_C_water-dispenser.png", alt="h-k_C_water-dispenser",style='width:100%;height:100%;')
        .row
          .col-sm-3.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/h-k_C-cookers.png", alt="h-k_C-cookers",style='width:100%;height:100%;')
          .col-sm-6.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/h-k_B_freezers-and-more_06.png", alt="h-k_B_freezers-and-more_06", style='width:100%;height:100%;')
          .col-sm-3.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/h-k_C_small-appl.png", alt="h-k_C_small-appl", style='width:100%;height:100%;')
  div.row.home-rows
    div.col-sm-3.hvr(style='height:300px;padding-right:0px;padding-left:0px;border:1px solid #eee;')
      ul.sidebar.sidebar-header.sidebar-header-beauty
        li.list-header.beauty
          a Beauty, Health & Personal Care
      ul.sidebar
        li
          a(href="#") Hair Center
        li
          a(href="#") Fragrances
        li
          a(href="") Makeup & Body Art
        li
          a(href="") Personal Care
        li
          a(href="#") Health
      ul.sidebar.sidebar-footer.sidebar-footer-beauty
        li.list-header.beauty
          a View all
    div.col-sm-9(style='padding-right:0px;padding-left:0px;')
      .col-sm-4.img-holder(style='border:1px solid #eee;height:300px;padding-right:0px;padding-left:0px;')
        a(href='#')
          img(src="images/yakata_A_BHPCB.png", alt="yakata_A_BHPCB", style='width:100%;height:100%;margin:0px;')
      .col-sm-8(style='border:1px solid #eee;padding-right:0px;padding-left:0px;')
        .row
          .col-sm-3.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/bhpc_C_health-shop.png", alt="bhpc_C_health-shop", style='width:100%;height:100%;')
          .col-sm-6.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/bhpc_B_fragrances.png", alt="bhpc_B_fragrances",style='width:100%;height:100%;')
          .col-sm-3.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/bhpc_C_facebeat.png", alt="bhpc_C_facebeat",style='width:100%;height:100%;')
        .row
          .col-sm-3.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/bhpc_05.png", alt="bhpc_05",style='width:100%;height:100%;')
          .col-sm-6.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/bhpc_B_personal-care_06.png", alt="bhpc_B_personal-care_06", style='width:100%;height:100%;')
          .col-sm-3.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/bhpc_C_weight-loss.png", alt="bhpc_C_weight-loss", style='width:100%;height:100%;')
  div.row.home-rows
    div.col-sm-3.hvr(style='height:300px;padding-right:0px;padding-left:0px;border:1px solid #eee;')
      ul.sidebar.sidebar-header.sidebar-header-power
        li.list-header.power
          a Power Solutions
      ul.sidebar
        li
          a(href="#") Generators & Power Solutions
        li
          a(href="#") Automotive Parts & Accessories
        li
          a(href="") Tools
        li
          a(href="") Safety and Security
        li
          a(href="#") Cars and Vehicles
      ul.sidebar.sidebar-footer.sidebar-footer-power
        li.list-header.power
          a View all
    div.col-sm-9(style='padding-right:0px;padding-left:0px;')
      .col-sm-4.img-holder(style='border:1px solid #eee;height:300px;padding-right:0px;padding-left:0px;')
        a(href='#')
          img(src="images/yakata_A_BHPCB.png", alt="yakata_A_BHPCB", style='width:100%;height:100%;margin:0px;')
      .col-sm-8(style='border:1px solid #eee;padding-right:0px;padding-left:0px;')
        .row
          .col-sm-3.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/powersoln_C_inveter-batteries.png", alt="powersoln_C_inveter-batteries", style='width:100%;height:100%;')
          .col-sm-6.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/powersoln_B_generators.png", alt="powersoln_B_generators",style='width:100%;height:100%;')
          .col-sm-3.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/powersoln_C_Safety.png", alt="powersoln_C_Safety",style='width:100%;height:100%;')
        .row
          .col-sm-3.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/powersoln_C_cars-needs.png", alt="powersoln_C_cars-needs",style='width:100%;height:100%;')
          .col-sm-6.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/powersoln_B_AI-slash_06.png", alt="powersoln_B_AI-slash_06", style='width:100%;height:100%;')
          .col-sm-3.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/powersoln_C_tools.png", alt="powersoln_C_tools", style='width:100%;height:100%;')
  div.row.home-rows
    div.col-sm-3.hvr(style='height:300px;padding-right:0px;padding-left:0px;border:1px solid #eee;')
      ul.sidebar.sidebar-header.sidebar-header-power
        li.list-header.others
          a Other Categories
      ul.sidebar
        li
          a(href="#") Wallpapers, Panels & Accessories
        li
          a(href="#") Cigarettes & Accessories
        li
          a(href="") Christmas Essentials
        li
          a(href="") Gifts & Party Supplies
        li
          a(href="#") Animals & Pets
        li
          a(href="#") Building & Construction
        li
          a(href="#") Shopping Carts, Trolleys & Racks
      ul.sidebar.sidebar-footer.sidebar-footer-others
        li.list-header.others
          a View all
    div.col-sm-9(style='padding-right:0px;padding-left:0px;')
      .col-sm-4.img-holder(style='border:1px solid #eee;height:300px;padding-right:0px;padding-left:0px;')
        a(href='#')
          img(src="images/yakata_A_otherCats.png", alt="yakata_A_otherCats", style='width:100%;height:100%;margin:0px;')
      .col-sm-8(style='border:1px solid #eee;padding-right:0px;padding-left:0px;')
        .row
          .col-sm-3.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/others_C_Sports.png", alt="others_C_Sports", style='width:100%;height:100%;')
          .col-sm-6.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/othercats_03.png", alt="othercats_03",style='width:100%;height:100%;')
          .col-sm-3.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/others_C_groceries.png", alt="others_C_groceries",style='width:100%;height:100%;')
        .row
          .col-sm-3.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/others_C_music.png", alt="others_C_music",style='width:100%;height:100%;')
          .col-sm-6.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/others_B_Kids-toys_06.png", alt="others_B_Kids-toys_06", style='width:100%;height:100%;')
          .col-sm-3.img-holder(style='border:1px solid #eee;height:150px;padding-right:0px;padding-left:0px;')
            a(href='#')
              img(src="images/others_C_books.png", alt="others_C_books", style='width:100%;height:100%;')
